@model IEnumerable<Bartender>

<h1>Manage Opportunities</h1>

<div class="container p-5">
    @if (Model.Count() > 0)
    {
        <div class="row p-3">
            <div class="col">
                <h2 class="text-primary">Drink List</h2>
            </div>
            <div class="col text-right">
                <a asp-controller="Bartender" asp-action="AddDrink" class="btn btn-primary">Add New Drink</a>
            </div>
        </div>
        
        }
</div>
    <br />

    <div class="row">
        <div class="col">
            @if (Model.Count() > 0)
            {
                <table class="table table-bordered" style="width:100%">
                    <thead>
                        <tr>
                            <th>Drink</th>
                            <th>Price</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var obj in Model)
                        {
                            <tr>
                                <td>@obj.DrinkName</td>
                                <td>@obj.Price</td>
                                <td class="w-25 text-center">
                                    <div class="btn-group" role="group">
                                        <a asp-controller="Bartender" asp-route-Id="@obj.Id" asp-action="EditDrink" class="btn btn-outline-primary">Edit</a>
                                        <a asp-controller="Bartender" asp-route-Id="@obj.Id" asp-action="DeleteDrink" class="btn btn-outline-danger">Delete</a>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table> }
            else
            {
                <p>No results were found for that search term.</p>
                }
            </div>
</div>
